APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_TIMEZONE=Europe/Istanbul

DB_HOST=db
DB_PORT=3306
DB_DATABASE=talya_db
DB_USERNAME=talya_user
DB_PASSWORD=talya_pass
MYSQL_ROOT_PASSWORD=root_pass

SESSION_NAME=talya_kids_session
SESSION_LIFETIME=7200
CSRF_TOKEN_NAME=talya_csrf

SMS_PROVIDER=netgsm
SMS_ENABLED=false
SMS_TEST_MODE=true
SMS_TEST_PHONE=
SMS_FORCE_TO=
SMS_WEB_AUTOMATION_ENABLED=true
NETGSM_USERCODE=
NETGSM_PASSWORD=
NETGSM_HEADER=
NETGSM_ENCODING=TR
NETGSM_FILTER=0
NETGSM_API_BASE_URL=https://api.netgsm.com.tr
NETGSM_CONNECT_TIMEOUT=10
NETGSM_TIMEOUT=30
SMS_MAX_RECIPIENTS_PER_REQUEST=1000
SMS_MAX_RETRY_COUNT=3
SMS_RETRY_DELAY_MINUTES=10
SMS_APPOINTMENT_REMINDER_ENABLED=true
SMS_APPOINTMENT_REMINDER_HOURS=24
SMS_PAYMENT_PROMISE_REMINDER_ENABLED=true
SMS_PAYMENT_PROMISE_REMINDER_HOURS=24
