body .modal.thisModal {
  background-color: rgba(20, 20, 213, 0.131);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(8px);
}
body .modal.thisModal .modal-content {
  border-radius: 20px !important;
}
body .modal.thisModal .modal-content .modal-body .form-group input.form-control, select.select-control {
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgb(227, 225, 225);
  padding: 13px;
  border: 2px solid rgb(128, 128, 128);
  border: none;
  width: 100% !important;
  border-radius: 50px;
}/*# sourceMappingURL=custom.css.map */

.form-group label, label {
  font-size: 12px;
  color: #bb2f2f;
  letter-spacing: 0;
  display: inline-block;
  margin-bottom: 0;
}

#invoice label {
  color: #bb2f2f;
}

#item-table th {
  background-color: #f2f2f2  !important;
}

.timeline-line .item-timeline .t-meta-time2 {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  color: #888ea8;
  align-self: center;
}

.custom-th {
    background-color: rgba(234, 241, 255, 0.74) !important;
    color: #515365;
}

#vuiinMenu .menu > a.dropdown-toggle {
  position: relative;
}

#vuiinMenu .menu > a.dropdown-toggle::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 10px;
}

#vuiinMenu .menu:hover > .dropdown-menu,
#vuiinMenu .menu > a.dropdown-toggle:hover + .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

#vuiinMenu .menu > .dropdown-menu {
  margin-top: 0;
}

.form-check-input:checked {
  background-color: #2f80ed;
  border-color: #2f80ed;
  box-shadow: 0 0 0 0.15rem rgba(47, 128, 237, 0.25);
}
